confluent-kafka
geopandas
hopsworks
ipywidgets
lightgbm
matplotlib
mlflow
notebook
pandas
plotly
pyarrow
python-dotenv
requests
scikit-learn
seaborn
streamlit
xgboost
statsmodels
pmdarima
streamlit-folium>=0.11.0
folium>=0.14.0
